-var states = ['default', 'primary', 'info', 'success', 'danger','warning','inverted']
.buttons
  each val in states
    button.btn(class=val) button 
  br
  br
  each val in states
    button.btn.outline(class=val) button 
  br
  br
  each val in states
    button.btn.pill(class=val) button 