.container.boxes#boxes
  <div class="example">
    <div class="row">
      <div class="col-6">
        <p>Single Box</p>
        <div class="box">box</div>
      </div>
    </div>
  </div>

  <div class="example">
    <div class="row">
      <div class="col-12">
        <p>Basic Box List</p>
        <div class="boxes default">
          <div class="box">box</div>
          <div class="box">box</div>
          <div class="box">box</div>
        </div>
      </div>
      <div class="col-12">
        <p>Basic Boxes without Background</p>
        <div class="boxes default transparent">
          <div class="box">box</div>
          <div class="box">box</div>
          <div class="box">box</div>
        </div>
      </div>
    </div>
  </div>

  <div class="example">
    <div class="row">
      <div class="col-12">
        <p>Color Primary</p>
        <div class="boxes primary">
          <div class="box">box</div>
          <div class="box">box</div>
          <div class="box">box</div>
        </div>
      </div>
      <div class="col-12">
        <p>Color Info</p>
        <div class="boxes info">
          <div class="box">box</div>
          <div class="box">box</div>
          <div class="box">box</div>
        </div>
      </div>
      <div class="col-12">
        <p>Color Success</p>
        <div class="boxes success">
          <div class="box">box</div>
          <div class="box">box</div>
          <div class="box">box</div>
        </div>
      </div>
      <div class="col-12">
        <p>Color Danger</p>
        <div class="boxes danger">
          <div class="box">box</div>
          <div class="box">box</div>
          <div class="box">box</div>
        </div>
      </div>
      <div class="col-12">
        <p>Color Warning</p>
        <div class="boxes warning">
          <div class="box">box</div>
          <div class="box">box</div>
          <div class="box">box</div>
        </div>
      </div>
      <div class="col-12">
        <p>Color Inverted</p>
        <div class="boxes inverted">
          <div class="box">box</div>
          <div class="box">box</div>
          <div class="box">box</div>
        </div>
      </div>
    </div>
  </div>