.container.tables#tables
  div
    .table-overflow
      table.table.hover
        thead
          tr
            th Name
            th Registration Date
            th E-mail address
            th Premium Plan
        tbody
          tr
            td Nicky Almera
            td September 14, 2013
            td nicky@hotmail.com
            td No
          tr
            td Edmund Wong
            td January 11, 2014
            td edmund@yahoo.com
            td Yes
          tr
            td Harvinder Singh
            td May 11, 2014
            td harvinder@gmail.com
            td Yes

  pre.prettyprint
    :markdown-it(linkify langPrefix='highlight-')
      ```html
        <div class="example">
          <div class="table-overflow">
            <table class="table hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Registration Date</th>
                  <th>E-mail address</th>
                  <th>Premium Plan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nicky Almera</td>
                  <td>September 14, 2013</td>
                  <td>nicky@hotmail.com</td>
                  <td>No</td>
                </tr>
                ...
              </tbody>
            </table>
          </div>
        </div>
      ```
  div
  .table-overflow
    table.table.bordered
      thead
        tr
          th Name
          th Registration Date
          th E-mail address
          th Premium Plan
      tbody
        tr
          td Nicky Almera
          td September 14, 2013
          td nicky@hotmail.com
          td No
        tr
          td Edmund Wong
          td January 11, 2014
          td edmund@yahoo.com
          td Yes
        tr
          td Harvinder Singh
          td May 11, 2014
          td harvinder@gmail.com
          td Yes
  pre.prettyprint
    :markdown-it(linkify langPrefix='highlight-')
      ```html
        <div class="example">
          <div class="table-overflow">
            <table class="table bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  ...
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nicky Almera</td>
                  ...
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      ```
  div
  .table-overflow
    table.table.bordered.rounded
      thead
        tr
          th Name
          th Registration Date
          th E-mail address
          th Premium Plan
      tbody
        tr
          td Nicky Almera
          td September 14, 2013
          td nicky@hotmail.com
          td No
        tr
          td Edmund Wong
          td January 11, 2014
          td edmund@yahoo.com
          td Yes
        tr
          td Harvinder Singh
          td May 11, 2014
          td harvinder@gmail.com
          td Yes
  pre.prettyprint
    :markdown-it(linkify langPrefix='highlight-')
      ```html
        <div>
          <div class="table-overflow">
            <table class="table bordered rounded">
              <thead>
                <tr>
                  <th>Name</th>
                  ...
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nicky Almera</td>
                  ...
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      ```
  div
  .table-overflow
    table.table.bordered.rounded.striped.hover
      thead
        tr
          th Name
          th Registration Date
          th E-mail address
          th Premium Plan
      tbody
        tr
          td Nicky Almera
          td September 14, 2013
          td nicky@hotmail.com
          td No
        tr
          td Edmund Wong
          td January 11, 2014
          td edmund@yahoo.com
          td Yes
        tr
          td Harvinder Singh
          td May 11, 2014
          td harvinder@gmail.com
          td Yes
        tr
          td Terry Khoo
          td June 6, 2013
          td terry@gmail.com
          td No
        tr
          td Jamie Harington
          td January 15, 2014
          td jharingonton@yahoo.com
          td Yes
        tr
          td Jill Lewis
          td May 1, 2014
          td jilsewris22@yahoo.com
          td Yes

  pre.prettyprint
    :markdown-it(linkify langPrefix='highlight-')
      ```html
        <div>
          <div class="table-overflow">
            <table class="table bordered rounded hover striped">
              <thead>
                ...
              </thead>
              <tbody>
                ...
              </tbody>
            </table>
          </div>
        </div>
      ```