//- .row 
//-   .col-6
//-     .sidebar
//-       .boxes.default
//-         .box
//-           a(href="#forms") forms
//-         .box
//-           a(href="#forms") forms
//-         .box
//-           a(href="#forms") forms

//-   .col-12


.content
  include ../components/typography.pug

  include ../components/button.pug

  include ../components/grid.pug

  include ../components/forms.pug

  include ../components/tables.pug

  include ../components/boxes.pug


