.header
  h1 minimalism.css

  .row 
  
    .col-4 
      a(href="#typography") typography
    .col-4 
      a(href="#buttons") buttons
    .col-4 
      a(href="#grid") grid
    .col-4 
      a(href="#forms") forms
    .col-4 
      a(href="#tables") tables
    .col-4 
      a(href="#boxes") boxes