// --------------------------------------------------
// Variables
// --------------------------------------------------
// color
$grey-darker = #222222
$grey-dark = #333333
$grey = #555555
$grey-light = #777777
$grey-lighter = #eeeeee
$color-default = #b6c2c9
$color-primary = #1f81db
$color-info = #49b6d6
$color-success = #84b547
$color-danger = #ff3a35
$color-warning = #f59c1a
$color-inverted = #2d353c
$color-white = white
// text
$font-family-base = 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$line-height-base = 1.6rem
$font-size-base = 1.6rem
$text-color = #333333
// button
$btn-border-width = 1px
$btn-border-radius = 5px
$btn-font-size = $font-size-base
$btn-line-height = $line-height-base
$btn-padding = 4px 12px
// forms
$input-border-width = 1px
$input-border-color = #dbdbdb
$input-border-radius = 5px
$input-bg-color = #fff
$input-font-size = $font-size-base
$input-line-height = $line-height-base
$input-text-color = #333
$input-border-color-focus = $color-primary