// --------------------------------------------------
// Variables
// --------------------------------------------------
// color
$grey-darker = #222222
$grey-dark = #333333
$grey = #555555
$grey-light = #777777
$grey-lighter = #eeeeee
$color-default = #b6c2c9
$color-primary = #673ab7
$color-info = #03a9f4
$color-success = #4caf50
$color-danger = #e91e63
$color-warning = #ff9800
$color-inverted = #2d353c
$color-white = white
// text
$font-family-base = 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$line-height-base = 1.6rem
$font-size-base = 1.6rem
$text-color = #333333
// button
$btn-border-width = 1px
$btn-border-radius = 5px
$btn-font-size = $font-size-base
$btn-line-height = $line-height-base
$btn-padding = 5px 15px
// forms
$input-border-width = 1px
$input-border-color = #dbdbdb
$input-border-radius = 5px
$input-bg-color = #fff
$input-font-size = $font-size-base
$input-line-height = $line-height-base
$input-text-color = #333
$input-border-color-focus = $color-primary
// tables
$table-border-color = #ddd
$table-head-bg-color = rgba(100, 100, 150, 0.04)
$table-striped-bg-color = rgba(100, 100, 150, 0.04)
$table-hover-bg-color = rgba(100, 100, 150, 0.04)
$table-border-radius = 5px
$table-border-width = 2px
// boxes
$box-bg-color = #fff
$box-border-color = #ddd
$box-heading-bg-color = #f5f5f5
$box-footer-bg-color = #f5f5f5
$box-border-radius = 4px
$boxes-border-radius = 5px
$boxes-border-width = 2px
$boxes-box-border-radius = $boxes-border-radius - $boxes-border-width
$boxes-rasied-shadow = rgba(50, 50, 100, 0.1)